/*
Project Name: Final FEWD Project
Client: Your Client
Author: Laura
Developer @GA in Singapore
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/******************************************
/* BASE STYLES
/*******************************************/

.container {
  max-width:960px;
  margin: 0 auto;
  text-align: justify;
}

body{
  color: #2a4747; 
  background-color: white;
  font-size: 20px;
  font-weight:lighter;
  line-height: 1.5;
  font-family:'Barlow Semi Condensed', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

header {
  background-color: white;
  color: lightgray;
  width: 100%;
  height: 150px;
  text-align: center;
}

header nav {
  font-size: 1.2em;
  display: inline-block;
}

header nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

main {
  color: #121212;
  width:980px;
}

footer {
  clear: both;
  padding-top: 20px;
  text-align: center;
  font-size: 0.5em;
}

a {
  text-decoration: none;
}

a:hover,
a:active,
a:visited,
a:focus {
  color: darkgray;
}

nav a {
  color: #DFBD51;
}

nav a:hover,
nav a:active,
nav a:visited,
nav a:focus {
  color: #DFBD51;
}

.btn-transparent {
  color: #2a4747;
  border-radius: 2px;
  border-color: 5px #2a4747;
  background-color: #DFBD51;
  box-shadow: 4px 4px 1px lightgray;
  padding: 25px 300px 25px 300px;
  font-family:'Lobster', cursive;
  font-size: 2em;
  letter-spacing: 2px;
  /*background: url("yourimage.png");*/
  margin: 0 auto;
}

.cookie {
  font-family:'Lobster', cursive;
  font-size: 3em;
  font-weight: bold;
  color: #2a4747;  
  text-shadow: 2px 2px 4px #7f9090;
}

.wrapper {
column-count: 2;
vertical-align:top;
}

.contact {
  padding: 40px 0 40px 0;
  text-align: center;
  
}


.biography .article {
  display: block;  
}

#image_float {
  padding: 0.5em;
  float: right; 
  width: 100%;
  height: auto;
}

span {
  font-weight: bold;
  font-size: 2em;
  color: #DFBD51;
  font-family: serif;
  margin: none;
}

.content{
display: inline-block;
width: 49%;
align-content:top;
}

.read-more {
  font-weight: bold;
  text-align: left;
  color: #DFBD51;
  padding-bottom: 20px;
}

.list-of-questions {
  margin: 0 auto;
}

.FAQ-question {
  font-family:'Barlow Semi Condensed', sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  text-align: left;
  color: #DFBD51;
  padding-bottom: 20px;
  padding-top: 20px;
}


.FAQ-text, .gif {
  display: inline-block;
  width: 49%;
  margin: 0 auto;
  vertical-align: top;
}

/*img {
  box-shadow: 4px 4px 1px grey;
  border: 1px solid #8a4419;
  border-style: inset;
}*/







