/*
Project Name: Final FEWD Project
Client: Your Client
Author: Laura
Developer @GA in Singapore
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
 -moz-box-sizing: border-box; /* Firexfox */
 -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
 box-sizing: border-box; /* IE */
 background-color: white;
 background-image: url("../images/brickwall.png");
}


/******************************************
/* BASE STYLES
/*******************************************/

.container {
  max-width:980px; /*using 100% instead moves all content to the left*/
  margin: 0 auto;
  text-align: justify;
}

body{
  color: #121212; 
  font-size: 20px;
  font-weight:lighter;
  line-height: 1.5;
  font-family:"Barlow Condensed", sans-serif;
  margin-top: 100px;
}

a {
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/

/*****
/* HEADER
/*****/

header {
  width: 100%;
  min-height: 20%;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Barlow Condensed";
  font-size: 1.2em;
}

nav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the bottom of the page */
  width: 980px; /* Full width */
  z-index: 500; /*without this on team.html the body went over the nav bar*/
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

nav a {
  color: #333;
}

nav a:hover,
nav a:active,
nav a:visited,
nav a:focus {
  color: #333;
}

.cookie {
  font-size: 3em;
  font-family:'Lobster';
  color:#282726;
}

.active-page {
  text-decoration:line-through;
  font-size: 1.2em;
}

.media-head-nav { /*media query nav bar*/
  display: none;
}


/*****
/* FOOTER
/*****/

footer {
  padding-top: 10px;
  text-align: center;
  font-size: 0.8em;
}

@font-face {
  font-family: 'si';
  src: url('../socicon-v1.5/socicon.eot');
  src: url('../socicon-v1.5/socicon.eot?#iefix') format('embedded-opentype'),
  url('../socicon-v1.5/socicon.woff') format('woff'),
  url('../socicon-v1.5/socicon.ttf') format('truetype'),
  url('../socicon-v1.5/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family:si;
        src: url(../socicon-v1.5/socicon.svg) format(svg);
      }

    .soc {
      overflow:hidden;
      margin:0; padding:0;
      list-style:none;
    }

    .soc li {
      display:inline-block;
      *display:inline;
      zoom:1;
    }


    .soc li a {
      font-family:si!important;
      font-style:normal;
      font-weight:400;
      -webkit-font-smoothing:antialiased;
      -moz-osx-font-smoothing:grayscale;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      -ms-box-sizing:border-box;
      -o-box-sizing:border-box;
      box-sizing:border-box;

      -o-transition:.1s;
      -ms-transition:.1s;
      -moz-transition:.1s;
      -webkit-transition:.1s;
      transition:.1s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);

      overflow:hidden;
      text-decoration:none;
      text-align:center;
      display:block;
      position: relative;
      z-index: 1;
      width: 38px;
      height: 38px;
      line-height: 38px;
      font-size: 20px;
      -webkit-border-radius: 52px;
      -moz-border-radius: 52px;
      border-radius: 52px;
      margin-right: 0px;
      color: #282726;
    }

    .soc-icon-last{
      margin:0 !important;
    }

    .soc-twitter:before {
      content:'\e040';
    }
    .soc-instagram:before {
      content:'\e057';
    }
    .soc-vine:before {
      content:'\e054';
    }
    .soc-youtube:before {
      content:'\e051';
    }
    .soc-facebook:before {
      content:'\e041';
    }
    .soc-tumblr:before {
      content:'\e059';
    }


/*****
/* INDEX
/*****/

.img-header {
  width: 100%;
  height: 700px; /*height auto will make it scale down accordingly, but if I apply that here the image disappears.*/
  margin: 0 auto;
  background-image: url("../images/index_img.jpg");
  background-color: gray;
  /* Center and scale image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  column-count: 2;
  vertical-align:top;
  padding-top: 20px;
}

.contact {
  padding: 80px 0 40px 0;
  text-align: center;
  
}

/*****
/* ABOUT
/*****/

.flex-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  vertical-align: center; /*this doesn't work, neither does the following two:*/
  justify-content: center;
  align-content: center;
}

.about-pic {
  max-width: 100%;
  max-height: 100%;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.about-pic:hover {
  transform: scale(1.5); /* (150% zoom if the zoom is too large, it will go outside of the viewport) */
}


.photo {
  flex-grow: 2;
  width: 150px;
  margin: 0 auto;
  padding-bottom: 10px;
  height: 250px;
}

.info-about {
  flex-grow: 1;
  width: 300px;
  padding: 10px;
  height: 250px;
  margin: 0 10px 0 10px;
}

.read-more {
  font-weight: bold;
  text-align: left;
  color: #DFBD51;
  padding-bottom: 20px;
}

.underline-on-hover:hover {
  text-decoration: underline;
  font-size: 1.4em;
}

h1 {
  font-weight: bold;
  font-size: 1.4em;
  color: #23B0CA;
  line-height: 1em;
  text-align: center;
}


/*****
/* PROJECTS
/*****/

#css-main {
  padding-top: 20px;
}

.buttons {
  text-align: center;
  padding-bottom: 40px;
}
.buttons a, .staff a{ 
  color: white;
  font-family:"Barlow Condensed";
  background-image: none; /*this is to avoid brick background image around text on buttons*/
  background-color: #23b0ca;

}

.buttons a:visited, .staff a:visited {
  text-decoration-color: white;
}

.carousel-btn {
  background-image: none;
  background-color: #23b0ca;
  border-radius: 6px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3em;
  margin: 4px 2px;
  cursor: pointer;
}

/*css carousel*/

#css-bod {
  margin-top: 10px; /*this is to remove the extra margin on the body to allow for static nav bar on all other pages*/

}

.slider {
  box-shadow: none;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  max-width: 700px;
}

.slider ul li {
  list-style: none;
  margin: 0;
  padding: 20px;
}

.slider ul {
  width: 1000%;
  height: auto;
  position: relative;
  left: 0;
  line-height: 0;
  -moz-animation:slide-animation 15s infinite;
  -webkit-animation:slide-animation 15s infinite;
}

.slider ul:hover {
  -moz-animation-play-state:paused;
  -webkit-animation-play-state:paused;
}

.slider li {
  width: 10%;
  float: left;
  padding: 40px;
}

.slider p {
  padding-top: 30px;
}

img {
  max-width: 100%;
  box-shadow: none;
}

span-slider {
  position: relative;
  height: 40px;
  display: block;
  font-size: 1em;
  color: black;
  overflow: hidden;
}

@-webkit-keyframes slide-animation {
  1% {left: 0%; opacity: 1;}
  18% {left: 0%; opacity: 1}
  19% {opacity: 0.2;}
  20% {left: -100%; opacity: 1;}
  58% {left: -100%; opacity: 1;}
  59% {opacity: 0.2;}
  60% {left: -200%; opacity: 1;}
  98% {left: -200%; opacity: 1;}
  99% {opacity: 0.5;}
  100% {left: 0%;}
}

@-moz-keyframes slide-animation {
  1% {left: 0%; opacity: 1;}
  18% {left: 0%; opacity: 1}
  19% {opacity: 0.2;}
  20% {left: -100%; opacity: 1;}
  58% {left: -100%; opacity: 1;}
  59% {opacity: 0.2;}
  60% {left: -200%; opacity: 1;}
  98% {left: -200%; opacity: 1;}
  99% {opacity: 0.5;}
  100% {left: 0%;}
}


#photo-container {
  width: 960px;
  height: 400px;
  margin: auto;
  background-color: #000;
}

/*carousel_bootstrap.html styled as per Bootstrap's CSS*/

/*ACCORDION*/

dl{
  margin-top: 10px;
}

dt{
  cursor: pointer;
  font-size: 1.2em;
  
  line-height: 2em;
}



dd{
  background: white;
  border: 3px dotted #c5c5c5;
  margin: 0px;
  padding: 0.8em; 
}

.hide{
  display: none;
}


/*****
/* TEAM
/*****/

.directors > div, .minions > div {
  height: 500px;
  display: inline-block;
  width: 32%;
  position: relative;
}

.directors > div p, .minions > div p {
  position: absolute;
  top: 0;
  background: #23B0CA;
  opacity: 0.5;
  display: none;
  padding: 30px;
  height: 100px;
  width: 96%;
  color: white;
  text-align: left;
}

.directors > div.hover p {
  display: block;
}

.minions > div.hover p {
  display: block;
}

img {
  box-shadow: 4px 4px 1px #282726;
  border-style: inset;
  justify-content: center;
}

footer img, .button {
  box-shadow: none;
  border-style: none;
}

.staff, .back-to-top {
  font-size: 1.2em;
  font-weight: bold;
  color:#282726;
}

.back-to-top {
  padding-top: 20px;
  color: #DFBD51;
}

/*****
/* FORM
/*****/

legend, input[type=submit] {
  font-weight: bold;
  color: #23B0CA;
}

legend {
  font-size: 1.8em;
}

label {
 text-align:left;
 font-size: 1.2em;
}

input, label {
  width: 100%;
  float: left;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 60%;

}


input[type=textarea] {
  /*col and rows or specifying height and width does nothing)*/
  font-size: 1em;
  border: 1px solid #000000;
  margin-top: 30px;
}

input[type=submit] {
  margin-top: 20px;
  background-color: transparent;
  padding: 12px 20px;
  font-size: 1.2em;
  text-align: left;
  font-family:'Barlow Condensed', sans-serif;
  border: none; /*otherwise a bottom line will apply as with rest of form inputs*/
  cursor: pointer;
}

.form-comment {
  font-size: 0.7em;
}


/*****
/* POP UP - MODAL
/*****/

#myModal {
  display: none; /* hidden by default */
  position: fixed; /* this is to stay in place */
  z-index: 1; /* sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* this is to enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #282726;
  /*box-shadow: 4px 4px 1px #282726;*/
  width: 60%; /*how wide in relation to the viewport*/
}

/* The Close Button */
.close {
  color: #282726;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/*parsley pop up alerts below, hidden to start with*/
.hidden  {
  display: none; /* message hidden to start with*/
}

/*.bs-callout {
  display: block; /* pop ups show either something wrong/submitted succesfully
  }*/

  /********************/

  /******** media *******/

  @media screen and (max-width: 768px) {

    main {
      margin: 40px 10px 10px 10px;
    }

    /*nav bar*/
    nav {
      display: none;
    }

    .media-head-nav {
      display: block;
      width:100%;
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the bottom of the page */
      z-index: 500; /*without this on team.html the body went over the nav bar*/
    }

    .media-head-nav .cookie {
      display: block;
      font-size:2.5em;
    }


    .media-head-nav ul{
      display: inline-block;
      list-style: none;
    }

    /*index*/
    .img-header {
      width: 600px;
      height: 300px;/*have reset size manually as setting width of 100% doesn't automatically resize image on media query*/
      margin: 10px;
      padding: 10px;
      margin: 0 auto;
    }

    .wrapper {
      column-count: 1;
      vertical-align:top;
      padding: 20px;
    }

    /*about*/
    .flex-grid {
      margin-top: 40px;
      padding: 10px;
    }

    .photo, .info-about {
    flex-grow: 1;
    height: 100%;
  }

    .about-pic {
      box-shadow: none;
    }

    .about-pic:hover {
    transform: scale(1.05); 
  }


    /*team*/
    .directors > div, .minions > div {
          height: 250px;
  }

    .staff {
      font-size: 0.8em;
    padding: 0px;
    height: 300px; 
}

}




