header, body, footer {
	font-family: sans-serif; 
}

p {
	font-family: serif;
}

h1 {
	justify-content: center;
}

body {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding-bottom: 50px;
}

footer {
	text-align: center;
}

.portfolio {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;	
	margin-right: 30px;
	margin-left: 30px;
}

.intro {
	overflow: auto;
	text-align: left;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin-right: 30px;
	margin-left: 30px;
}

.intro img {
	float: right;
	height: 100px;
	width: 100px;
	padding left: 20px;
}

.index {
	padding-top: 25px;
	text-align: center;
	color: black;
	text-decoration: none;	
}

.education li {
	font-family: sans-serif;
	line-height: 1.5;
	}

footer {
text-align: center;
padding-top: 12px;
padding-bottom: 12px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	background-color: yellow;
}


